/* .cards{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
} */

.property-card-container {
    width: 22rem;
    /* height: 52rem; */
    box-sizing: content-box;
    /* padding-bottom: 3rem; */
    border: 1px solid #908f8f;
    border-radius: 12px;
    /* border:1px solid red; */
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.property-card-container .resortname {
    
}

#property-card-img {
    width: 100%;
    height: 15rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* margin-top: 1.5rem; */
    position: relative;
}

#rateus {
    background-color: transparent;
    right: 0%;
    top: 0%;
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.property-card-container #view-details-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);

}

.property-card-container #view-details-btn {
    background-color: transparent;
    color: orange;
    position: absolute;
    right: 0%;
    bottom: 0%;
    border-radius: 0rem;
    text-shadow: 1px 1px 1px black;
    font-size: 1.2rem;
    font-family: 'calibri';
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Rajdhani, sans-serif";


}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 10px; */
}

.card-footer-lb>:nth-child(1) {
    text-align: left;
    font-size: 16px;
    font-family: "Rajdhani, sans-serif";

}

.card-footer-lb>:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    font-family: "Rajdhani, sans-serif";

}





.property-card-container .card-footer-rb>div:nth-child(2) {
    margin-top: 5px;
    font-family: "Rajdhani, sans-serif";

}

.property-card-container #property-card-add-btn {
    background-color: rgb(250, 199, 106);
    color: rgb(49, 49, 49);

}

.property-card-container #property-card-add-btn:hover {
    background-color: orange;
}

.property-card-container #property-card-delete-btn {
    background-color: rgb(248, 69, 69);
}

.property-card-container #property-card-delete-btn:hover {
    background-color: rgb(255, 0, 0);
}


.property-card-container .property-card-delete-icon {
    margin-left: 92%;
    font-size: 22px;
    color: hsla(0, 3%, 94%, 0.922);
    cursor: pointer;
    /* background: hsla(0,3%,94%,.373); */
}

.property-card-container .property-card-delete-icon:hover {
    color: red;
    font-size: 28px;
}

.property-card-container .card-footer .card-footer-rb button {
    height: fit-content;
}

@media screen and (max-width: 650px) {
    .property-card-container {
        width: 100%;
        /* height: 52rem; */
        box-sizing: content-box;
        /* padding-bottom: 3rem; */
        margin: auto;
        margin-top: 2rem;
        border: 1px solid #908f8f;
        border-radius: 12px;
    }
}

@media screen and (max-width: 480px) {
    .property-card-container {
        width: 100%;
        /* height: 52rem; */
        box-sizing: content-box;
        /* padding-bottom: 3rem; */
        margin: auto;
        margin-top: 2rem;
        border: 1px solid #908f8f;
        border-radius: 12px;
    }

    .card-footer-lb>:nth-child(1) {
        font-size: 13px;
    }

    .card-footer-lb>:nth-child(2) {
        font-size: 16px;
        font-weight: 500;
    }

    .card-footer-rb>div>button {
        padding-top: 5px;
        width: 100px;
        height: 30px;
        font-size: 11px;
    }

    .property-card-delete-icon {
        margin-left: 87%;
        font-size: 20px;
        color: hsla(0, 3%, 94%, 0.922);
        cursor: pointer;
        /* background: hsla(0,3%,94%,.373); */
    }
}