/*chat opening button*/
.chat_redirect {
  position: fixed;
  right: 1.6rem;
  bottom: 1.4rem;
  padding: 0.6rem;
  border-radius: 100%;
  background-color: #72e762;
  z-index: 4;
}

.open_chat_icon {
  color: #fff;
  width: 3rem;
  height: 3rem;
}

.chat_redirect:hover {
  background-color: #62ea8b;
}
